Painting.pro.user
mainwindow.cpp.rej
components/grawitem.h.rej
components/grawitem.cpp.rej
mainwindow.h.rej
mainwindow.cpp.autosave
components/grawitem.h.autosave
components/elements/polyline.h.autosave
components/nonegitem.h
components/nonegitem.cpp
